<link rel="stylesheet" href="home.css">
<div class="content">
    <div class="hero-section">
        <div class="hero-title">Znajdź nieruchomość <br>dopasowaną dla Ciebie</div>
        <div class="hero-desc">
            Przeglądaj mapy cieplne cen nieruchomości i korzystaj z inteligentnego modelu scoringowego. Wszystko w
            jednym miejscu, skutecznie i wygodnie. Odkryj nowe możliwości analizy rynku nieruchomości ze wsparciem
            narzędzi sztucznej inteligencji.
        </div>

        <a href="#" class="hero-btn" onclick="showMap(event)">
            <span class="material-icons"
                style="vertical-align: middle; font-size: 1.3em; margin-right: 0.5em;">approval</span>
            Przejdź do mapy
        </a>
        <div class="hero-image-container">
            <img src="assets/heatmap.png" alt="Mapa nieruchomości" class="hero-image">
        </div>
    </div>
</div>